{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="#">Mes factures</a>
            </li>
            <li>
                <a href="#">Mes adresses</a>
            </li>
            <li>
                <a href="{{ path('security_logout') }}">Deconnexion</a>
            </li>
        </ul>
    </div>

    <div style="text-align: center">
        <ul>
            <li><label>Prénom :</label> {{ app.user.firstname }}</li>
            <li><label>Nom :</label> {{ app.user.surname }}</li>
            <li><label>Email : </label> {{ app.user.email}}</li>
            <li><label>Username : </label> {{ app.user.username }}</li>
        </ul>

    </div>


{% endblock %}
