{% extends 'base.html.twig' %}

{% block title %}Activity index{% endblock %}

{% block body %}
    <h1>Activity index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Date</th>
                <th>Currency</th>
                <th>Price</th>
                <th>Visibility</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for activity in activities %}
            <tr>
                <td>{{ activity.id }}</td>
                <td>{{ activity.name }}</td>
                <td>{{ activity.description }}</td>
                <td>{{ activity.date ? activity.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ activity.currency }}</td>
                <td>{{ activity.price }}</td>
                <td>{{ activity.visibility ? 'Yes' : 'No' }}</td>
                <td>{{ activity.statut ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('activity_edit', {'id': activity.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('activity_new') }}">Create new</a>
{% endblock %}