{# templates/register.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

{{ form_start(form) }}
    {{ form_row(form.firstname, {label: "Prénom"}) }}
    {{ form_row(form.surname) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}

    <button type="submit">S'inscrire !</button>
{{ form_end(form) }}

{% endblock %}